*{
 -web-kit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing:border-box;
padding:0px;
margin:0px;
}
html {
  scroll-behavior: smooth;
 }
body{
	float: left;
	width: 100%;
	margin:0px;
}
.container{
	max-width: 1170px;
	margin: 0px auto;
}
.mainBanner{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 95px;
}
.header-bar{
	content: "";
	position: absolute;
	top:6px;
	z-index: 1;	
	width: 100%;
}
.header-bar .ul{
	display: flex;
justify-content: space-between;
align-items: center;
}
.search{
	float: left;
	width: 33.333%;
	padding: 0px 20px;
}
.search form{
	float: left;
	width: 100%;
	position: relative;
}
.search form input{
	float: left;
	width: 100%;
	border-radius: 50px;
	border-color: black;
    padding: 3px 0px 3px 28px;
    outline: none;
    height: 35px;
}

.search form i{
	position: absolute;
	content: "";
	left: 8px;
    top: 10px;

}
.header-bar .logo{
float: left;
	width: 33.333%;
	padding: 0px 20px;
	text-align: center;
}
.header-bar .logo a{
float: left;
	width: 100%;
}
.header-bar .logo a img{
width: 160px;
}
.header-bar .nav-bar{
float: left;
	width: 33.333%;
	padding: 0px 20px;
}
.header-bar .nav-bar .list{
	float: right;
	width: 70%;
}
.header-bar .nav-bar .list ul{
margin:0px -15px; 
}
.header-bar .nav-bar .list ul li{
	float: right;
	list-style: none;
	text-transform: uppercase;
	padding: 0px 15px;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	/*text-align: center;*/
	text-shadow:0px 0px #c2c2c2;
}
.header-bar .nav-bar .list ul li a{
	text-decoration: none;
	color: #ffff;
	position: relative;
}
.header-bar .nav-bar .list ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width:0;
}
.header-bar .nav-bar .list ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}
.header-bar .nav-bar .list ul li a:hover{
	color: red;
}
.header-bar .nav-bar a i{
	transition:all 0.5s ease;
	font-size: 15px;
}
.header-bar .nav-bar a i:hover{
	  -ms-transform: scale(9);
  -webkit-transform: scale(1.9); 
  transform: scale(1.9); 
  transition:all 0.5s ease;
}
 .banner{
	float: left;
	width: 100%;
}

.banner > figure{
float: left;
width: 100%;
background-image: url(../image/banner2.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
/*.banner figure img{
	float: left;
	width: 100%;
}*/
.banner .text{
	float: left;
	width: 100%;
}
.banner .text span{
float: left;
width: 100%;
font-family: 'Open Sans', sans-serif;
padding: 130px 0px 55px 30px;
text-align: center;
color: rgb(255, 255, 255);
}
.banner .text span h3{
float: left;
width: 100%;
font-size: 48px;
font-weight: 500;
line-height: normal;

}
.banner .text span h2{
    float: left;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.banner form{
display: flex;
width: 100%;
font-family: 'Open Sans', sans-serif;
justify-content: center;
color: rgb(255, 255, 255);
padding-bottom: 70px;
}
.banner form .search-icon{
		display: inline-block;
	width: 24%;
	position: relative;
	padding: 0px 5px;
}

.banner form input{
width: 100%;
border: none;
    padding: 12px 0px 12px 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 20px;
    outline: none;
    height: 60px;
    border-radius: 10px 0px 0px 10px;
    /*background-color: rgba(130, 126, 190, 0.32);*/
    background-color: rgba(130, 126, 190, 0.53);
    padding-left: 55px;
font-weight: 600;
}
.banner form .search-icon i{
position: absolute;
content: "";
left: 19px;
top: 33%;
font-size: 25px;
}
.banner form .search-icon #cancle{
	position: absolute;
content: "";
left: 87%;
top: 33%;
font-size: 25px;
}

.banner form .location{
	border-radius: 0px;

}
.banner form button{
border: none;
    padding: 12px 0px 12px 0px;
    
    font-size: 16px;
    line-height: 20px;
    outline: none;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
        background: rgb(255, 29, 29);
    color: white;
    width: 9%;
 cursor: pointer;
}
.banner .members{
	float: left;
width: 100%;
text-align: center;
padding-bottom: 70px;
}
.banner .members small{
color: rgb(106, 108, 131);
    font-size: 14px;
    line-height: 18px;
    user-select: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
}
.banner .members .member-list{
display: inline-block;
}
.banner .members .member-list ul{
margin: 0px -15px;
}
.banner .members .member-list ul li{
display: inline-block;
list-style: none;
padding: 0px 15px;
}
.banner .members .member-list ul li img{
    height: 30px;
    display: block;
    padding: 0px 25px;
    transition: all 1s ease-in-out 0s;
}
.mainBanner .bottom-arrow{
	content: "";
	text-decoration: none;
	position: absolute;
	bottom: 30px;
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	left: 47%;
	font-size: 10px;
	padding: 4px 4px 1px 4px;
bottom: 20px;
}

/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/*mobile rotation*/
@media (max-width: 767px) {


}

/*mobile*/
@media (max-width: 540px) { 
  
}