/**{
 -web-kit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing:border-box;
padding:0px;
margin:0px;
}
html {
  scroll-behavior: smooth;
 }
body{
	float: left;
	width: 100%;
	margin:0px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}*/
.footer{
	float: left;
	width: 100%;
	background: #ffff;
	padding-top: 50px;
}
.footer .section1{
	float: left;
	width: 100%;
	padding-bottom: 45px;
}
.footer .main{
	display: flex;
    width: 100%;
    margin: 0px -15px;
    border-top: 1px solid #aeadad4f;
    padding-top: 72px;
}
.get-in-touch{
	float: left;
	width: 25%;
	padding:0px 15px;
}

.get-in-touch h3{
	float: left;
	width: 100%;
	font-size: 18px;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 8px;
   border-bottom: 2px solid #d7d7d7;
   margin-bottom: 15px;
}
.get-in-touch ul li{
	float: left;
	width: 100%;
	padding-bottom: 25px;
	list-style: none;
}
.get-in-touch ul li a{
	float: left;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
   color: rgb(109, 108, 121);
   text-decoration: none;
   padding: 0px 5px;
}
.get-in-touch ul li i{
float: left;
color: rgb(109, 108, 121);

}

.support{
	float: left;
	width: 25%;
	padding:0px 15px;
}

.support h3{
	float: left;
	width: 100%;
	font-size: 18px;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 8px;
   border-bottom: 2px solid #d7d7d7;
   margin-bottom: 15px;
}
.support ul li{
	float: left;
	width: 100%;
	padding-bottom: 25px;
	list-style: none;
}
.support ul li a{
	float: left;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
   color: rgb(109, 108, 121);
   text-decoration: none;
   padding: 0px 5px;
}
.support ul li i{
float: left;
color: rgb(109, 108, 121);

}


.services{
	width: 25%;
	padding:0px 15px;
}

.services h3{
	float: left;
	width: 100%;
	font-size: 18px;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 8px;
   border-bottom: 2px solid #d7d7d7;
   margin-bottom: 15px;
}
.services ul li{
	float: left;
	width: 100%;
	padding-bottom: 25px;
	list-style: none;
}
.services ul li a{
	float: left;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
   color: rgb(109, 108, 121);
   text-decoration: none;
   padding: 0px 5px;
}
.services ul li i{
float: left;
color: rgb(109, 108, 121);

}


.address{
	width: 25%;
	padding:0px 15px;
}

.address figure{
	float: left;
	width: 100%;
	padding-bottom: 8px;
   margin-bottom: 15px;
}
.address figure img{
	float: left;
	width: 50%;
   border-bottom: 2px solid #d7d7d7;
}
.address-data{
width: 100%;
float: left;
}
.address .address-data ul li{
	padding-bottom: 25px;
	list-style: none;
  display: flex;
}
.address ul li a{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
   color: rgb(109, 108, 121);
   text-decoration: none;
   padding: 0px 5px;
}
.address ul li i{
color: rgb(109, 108, 121);

}




.section_two{
	float: left;
	width: 100%;
	background-color: #1e1e1e40;
	position: relative;
	padding-top: 30px;
	padding-bottom: 20px;
	z-index: 1;

}
.section_two img{
position: absolute;
width: 55%;
left:0px;
top:0px;
z-index: -1;
height: 100%; 
}
.section_two .social_icon{
	float: right;
    margin: 0px -7px;
}
.section_two .social_icon i{
color: #535353;
font-size: 20px;
padding:0px 7px;
}
.section_two small{
	float: left;
color: #767676;
	font-family: 'Montserrat', sans-serif;
}

/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/*mobile rotation*/
@media (max-width: 767px) {


}

/*mobile*/
@media (max-width: 540px) { 
  
}