*{
 -web-kit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing:border-box;
padding:0px;
margin:0px;
font-family: 'Source Sans Pro', helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
 }

body{
  float: left;
  width: 100%;
  margin:0px;
}
.container{
  max-width: 438px;
  margin: auto;
}

.header-bar{
display: flex;
justify-content: space-between;
align-items: center;
  /*  transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: color, background-color, border-bottom;
    transform: translateZ(0px);*/
    color: rgb(33, 34, 48);
    border-bottom: 1px solid rgb(217, 218, 225);
 padding: 13px 15px;
     color: rgb(33, 34, 48);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
margin-bottom: 45px;
}


.search form{

  position: relative;
}
.search form input{

  border-radius: 50px;
  border-color: black;
    padding: 3px 0px 3px 28px;
    outline: none;
}
.search form i{
  position: absolute;
  content: "";
  left: 8px;
    top: 5px;

}

.header-bar .logo a img{
width: 160px;
}



.header-bar .nav-bar a{
padding: 8px 11px;
border: 2px solid #dbd5d5;
color: #252525;
border-radius: 2px;
transition:all 0.5s ease;

}

.header-bar .nav-bar a:hover{
  color: red;
  border-color: red;
      -ms-transform: scale(9);
  -webkit-transform: scale(1.9); 
  transform: scale(1.9); 
  transition:all 0.5s ease;
}
.signup-form{
float: left;
width: 100%;
}
.signup-form h2{
display: block;
width: 100%;
text-align: center;
font-size: 2.375em;
    line-height: 1.125em;
    font-weight: lighter;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    color: #171717;
padding-bottom: 15px;
}
.signup-form span{
display: block;
width: 100%;
text-align: center;
font-size: 15px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    color: #696b82;
padding-bottom: 30px;
}
.signup-form span h5{
  display: inline;
}
.signup-form span a{
  text-decoration: none;
  color: #ee1f1f;
font-weight: 600;
}
.signup-form form .input-fields{
display: grid;
width: 100%;
grid-column-gap: 30px;
  grid-template-columns: auto auto;
/*grid-gap: 20px;*/
/*grid-template-rows: ;*/
grid-row-gap: 10px;
margin-bottom: 5px;
}
.signup-form form input[type=text]{
border: 2px solid gray;
border-radius: 4px;
height: 45px;
outline: none;
padding-left: 10px;
font-size: 15px;
}
.signup-form form input[type=password]{
border: 2px solid gray;
border-radius: 4px;
height: 45px;
outline: none;
padding-left: 10px;
font-size: 15px;
}
.signup-form form .checkbox{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin-bottom: 15px;
}
.signup-form form .checkbox label{
padding: 0px 10px;
    color: #696b82;
padding-top:15px ;
line-height: 21px;
}
.signup-form form .checkbox label a{
color: red;
text-decoration: none;
}
.signup-form form .checkbox input[type=checkbox]{
border: 2px solid gray;
border-radius: 4px;
outline: none;
font-size: 15px;
}
.signup-form form button{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 4px;
height: 44px;
background: red;
color: white;
font-size: 17px;
}
.footer{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
border: none;
height: 44px;
background: #c43333;
color: white;
font-size: 17px;
position: fixed;
left: 0;
  bottom: 0;
}

/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/*mobile rotation*/
@media (max-width: 767px) {


}

/*mobile*/
@media (max-width: 540px) { 
 .signup-form form{
  padding: 0px 20px;
 } 
 .signup-form form .input-fields {
grid-template-columns: auto;
 }
}